*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
}

.contenedor{
  max-width: 1200px;
  margin: 0 auto;
  border: solid 1px white;
  height: 100vh;
  background-color: aqua;
  text-align: center;
  display: flex;

  flex-direction: row;
  /* flex-direction: row-reverse; */
  /* display: inline-flex; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */

  /* flex-wrap: nowrap; */
  flex-wrap: wrap;

  /* flex-flow: column wrap; */

  justify-content: flex-start;
  /* justify-content: flex-end; */
  /* justify-content: center ; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  
  align-items: flex-start;
  /* align-items: flex-end; */
  /* align-items: center; */
  /* align-items: stretch; */

  align-content: flex-start;
  /* align-content: flex-end;
  align-content: center;
  align-content: space-between;
  align-content: space-around;
  align-content: space-evenly */
}

.contendor__cuadrados{

  width: 200px;
  height: 200px;
  border: solid white 1px;
  background-color: brown;
  color: white;
  align-content: center;
  border-radius: 15px;
}


.contenedor .contendor__cuadrados:nth-child(3){
  background-color: slateblue;
  order:-1;
}

@media(max-width:800px){
  .contenedor .contendor__cuadrados:nth-child(3){
  background-color: slateblue;
  order:1;
}
}