@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sawarabi+Gothic&display=swap');


:root{
  --blanco:white;
  --naranja:rgb(255, 115, 0);
  --negro:black;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu{
  max-height: 50px;
  width: 100%;
  display: flex;
  background-image: url(espacio.webp);
  color: var(--blanco);
  align-items: center;
  padding: 20px;
  flex-direction: row;
  font-size: 15px;
}

.menu__barra{
  max-height:  50px; 
  width: 100%;
}
.menu__nombre{
  display: block;
  text-decoration: none;
  color: var(--blanco);
  font-size: 45px;
  font-family: "Dongle", sans-serif;
}

.menu__contenedornombre{
  display: flex;
  height: 37px;
  border-right: solid 1px var(--blanco);
  align-items: center;
  padding: 10px;
  padding-top: 19px;
  padding-left: 1px;
  
}

.menu__opciones{
  width: 100%;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content:flex-start;
}
.menu__imglogodesarrollador{
  width: 120px;
  margin: 15px;


}

.menu__logocss-tricks{
  width: 20px;
  height: 20px;
  color: var(--blanco);
}

.menu__grupobotones{
  display: flex;
  align-items: stretch;
  height: 50px;
  /* align-items: center; */
}

.menu__botonesdegrupo{
  padding: 5px;
  align-content: center;
  font-family: "Rubik", sans-serif;
}

.menu__botonesdegrupo:hover{
  color: var(--naranja) ;
  background-color: rgba(247, 243, 238, 0.289);
  cursor: pointer;
}

.menu__lupa{
  display: block;
  color: var(--negro);
  background-color: var(--blanco);
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

span:last-of-type{
  justify-content: flex-end;
}

.menu__contenido{
  display: flex;
  align-items: center;
}

.menu__lupa:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.582);
}